<a href="https://colab.research.google.com/github/Abduba011/moringa_data_science_prep_week3_independent_project_2022_04_abduba_galgalo_datareport/blob/main/Copy_of_moringa_data_science_prep_week3_independent_project_2022_04_Abduba_Galgalo_python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PROJECT ANALYSIS FOR UPGRADING MTN COTE D'IVOIRE COMPANY**

OVERVIEW

MTN COTE D'IVOIRE is a leading company in IVORY COAST that would like to upgrade its technology infrastructure for its mobile users in the country .
The datasets below will be used for the analysis.

Datasets that is needed for this project :

1.cells_geo-description.xlsx.[[link](https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing)]

2.cells_geo_csv .[[link](https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing)]

3.CDR_decsription.xlsx[[link](https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD)]

4.CDR 20120507[[link text](https://bit.ly/TelecomDatasets1)]

5.CDR 20120508[[link text](https://bit.ly/TelecomDatasets2)]

6.CDR 20120509[[link text](https://bit.ly/TelecomDatasets)]

How does MTN IVORY COAST go about to upgrade its telecom infrastructure withhin the given cities?

1.0 import the libraries to be used

In [ ]:
#we begin by importing the pandas library
import pandas as pd

1.1 loading the Datasets

In [ ]:
#loading the cells _geo csv file 
#upload the URL of the csv file ,load the first sheet into a dataframe and then view the data
url = '/content/cells_geo.csv'
df = pd.read_csv(url, delimiter=';', header=0,names=['City','Status','Localization','Geographical_Zone','Zone_Name','Longitude','Latitude','Region','Area','Cell_ID','Site_ID'])
df.head()

,City,Status,Localization,Geographical_Zone,Zone_Name,Longitude,Latitude,Region,Area,Cell_ID,Site_ID
0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f

In [ ]:
#import the CDR files 
#start with CDR 20120507

url = '/content/Telcom_dataset first.csv'

df_01 = pd.read_csv(url,header=0,names=['Product','Value','Data_Time','Cell_on_Site','Party_A_number','Party_B_number','Country_A','Country_B','Cell_ID','Site_ID']
df_01.head()

SyntaxError: ignored

In [ ]:
#import the second CDR file
#CDR 20120508

url = '/content/Telcom_dataset2.csv'

df_02 = pd.read_csv(url,delimiter=';',header=0,names=['Product','Value','Data_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID']
                    
df_02.head()

SyntaxError: ignored

In [ ]:
#import the third file
#CDR 20120509

url = '/content/Telcom_dataset3.csv'

df_03 = pd.read_csv(url,header=0,names=['Product','Value','Data_Time','Cell_On_Site','Party_A_Number','Party_B_Number','Country_A','Country_B','Cell_ID','Site_ID'
df_03.head()

SyntaxError: ignored

1.2 DATA EXPLORATION AND PREPARATION

In [ ]:
#generate statistics of the cells dataframe
df.describe(include='all')

,City,Status,Localization,Geographical_Zone,Zone_Name,Longitude,Latitude,Region,Area,Cell_ID,Site_ID
count,3974,3907,3974,3974,3968,3974.000000,3974.000000,3974,3951,3974,3974
unique,504,1,2,15,33,NaN,NaN,19,6,3916,1029
top,COCODY,In Service,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,NaN,NaN,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
freq,354,3907,2305,528,527,NaN,NaN,1850,1222,39,42
mean,NaN,NaN,NaN,NaN,NaN,-4.877659,6.244749,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,1.300771,1.304199,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,-8.503889,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,-5.846139,5.338639,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,-4.084500,5.475000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,-3.993444,6.872306,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,-0.000000,10.481861,NaN,NaN,NaN,NaN

In [ ]:
#cells dataframe infromation
#

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3974 entries, 0 to 3973
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3974 non-null   object
 1   Status             3907 non-null   object
 2   Localization       3974 non-null   object
 3   Geographical_Zone  3974 non-null   object
 4   Zone_Name          3968 non-null   object
 5   Longitude          3974 non-null   float64
 6   Latitude           3974 non-null   float64
 7   Region             3974 non-null   object
 8   Area               3951 non-null   object
 9   Cell_ID            3974 non-null   object
 10  Site_ID            3974 non-null   object
dtypes: float64(2), object(9)
memory usage: 372.6+ KB

In [ ]:
#check any missing data from the dataframe
#
df.isnull().sum()

City                  0
Status               67
Localization          0
Geographical_Zone     0
Zone_Name             6
Longitude             0
Latitude              0
Region                0
Area                 23
Cell_ID               0
Site_ID               0
dtype: int64

In [ ]:
#summary of CDR 20120508
df_02.describe(include='all')

NameError: ignored

In [ ]:
#CDR 20120509
df_03.info()

df_03.isnull().sum()

df_03.nunique()

NameError: ignored

In [ ]:
#summary of CDR 20120509
df_03.describe(include='all')

NameError: ignored

1.3 combining CDR datasets

In [ ]:
#combine the CDR datafiles
#
df_cdrs = pd.concat([df_01,df_02,df_03],axis=df_01
df_cdrs.info()
print(df_cdrs)

1.3.1 merging CDR datasets and cell geo

In [ ]:
#check for duplicates
#
df_cdrs =df_cdrs.drop_duplicates(keep='first')
df_cdrs.info

In [ ]:
#combine CDR data and cell geo
#
df_cells_cdrs=pd.merge(df_cdrs,df,how='inner',left_index=True,right_index=True)
df_cell_cdrs

1.4 DATA cleaning

In [ ]:
#drop the country that is not neeeded
#drop country _A and country_B columns 
df_cdrs.drop(['Country_A','Country_B'],axis=1)

NameError: ignored

In [ ]:
#convert date time column to data time format
#
df_cdrs['data_time'] = pd.to_datatime(df_cdrs['data_time'])
df_cdrs.info

In [ ]:
#datasets columns 
print(df_cdrs.columns.tolist())
print(df_columns.to list())

1.5 DATA ANALYSIS

In [ ]:
#the city with highest number of voice calls and sms
#
df.describe(include='all')

,City,Status,Localization,Geographical_Zone,Zone_Name,Longitude,Latitude,Region,Area,Cell_ID,Site_ID
count,3974,3907,3974,3974,3968,3974.000000,3974.000000,3974,3951,3974,3974
unique,504,1,2,15,33,NaN,NaN,19,6,3916,1029
top,COCODY,In Service,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,NaN,NaN,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
freq,354,3907,2305,528,527,NaN,NaN,1850,1222,39,42
mean,NaN,NaN,NaN,NaN,NaN,-4.877659,6.244749,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,1.300771,1.304199,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,-8.503889,0.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,-5.846139,5.338639,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,-4.084500,5.475000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,-3.993444,6.872306,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,-0.000000,10.481861,NaN,NaN,NaN,NaN

In [ ]:
from pandas.core.groupby.groupby import GroupBy
#which city that use the most during business and home hours?
df_cells_cdrs.GroupBy('City')['Data_Time'].mean()

NameError: ignored

In [ ]:
#which one is the top product and most used in the city?
df_cdrs.desribe(include='object')

NameError: ignored